<!DOCTYPE html>
<html>
    <head>
        <title>Anon Feedback</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='instructor_anonfeedback.css') }}" />
    </head>
    
    <body>
        <nav id="navbar">
            <div class="container">
                <ul>
                    <li><a href="{{ url_for('instructor_index') }}">Home</a></li>
                    <li><a href="{{ url_for('instructor_courseteam') }}">Course Team</a></li>
                    <li><a href="/static/random.pdf">Syllabus</a></li>
                    <li><a href="{{ url_for('instructor_calendar') }}">Calendar</a></li>
                    <li><a href="https://piazza.com/class/jr7mjhytaij3jc">Piazza</a></li>
                    <li><a href="{{ url_for('instructor_anonfeedback') }}">Anonfeedback</a></li>
                    <li><a href="{{ url_for('instructor_Slides') }}">Lecture Slides</a></li>
                    <li><a href="{{ url_for('instructor_assignment') }}">Assignments</a></li>
                    <li><a href="{{ url_for('instructor_lab') }}">Labs</a></li>
                    <li><a href="{{ url_for('instructor_test') }}">Tests</a></li>
                    <li><a href="{{ url_for('instructor_mark') }}">marks</a></li>
                    <li><a href="{{ url_for('instructor_remark') }}">Remark</a></li>
                </ul>
            </div>
        </nav>
 
        <h2>feedbacks for you</h2>
        <div class="feedback-box"> 
            <div class="list">
                {% for feedback in feedbacks %}   
                {{feedback.feedback}}
                {% endfor %}
            </div>

            <h2>Reply feedback to students</h2>

            <a href="{{ url_for('instructor_feedback') }}">Click Here To Give Feedback</a>
        
        </div>
    </body>

    <footer>
        <span>Copyright&copy 2020 Anon Feedback, Yiqian Wu & Yuntian Bo</span>
        <span><a class="ut-website"href="http://web.cs.toronto.edu/people/faculty.htm">faculty of computer science</a></span>
    </footer>

</html>