<!DOCTYPE html>
<html>
    <head>
        <title>Marks</title>
        <link rel="stylesheet" href="{{ url_for('static',filename='instructor_mark.css')}}">
        <script>
            function instructor_remark() {
        
                var student = document.getElementById("student");
                var subject = document.getElementById("subject");
                var grade = document.getElementById("grade");

                if (student.value == null || student.value == "") {

                    alert("Require student name");

                } else if (subject.value == null || subject.value  == "") {

                    alert("Require subject name");
                
                } else if (grade.value == null || grade.value  == "") {

                    alert("Require grade");    

                } else {

                    alert("Cannot be empty")

                }
                }
        </script>
    </head>

    <body>
        <nav id="navbar">
            <div class="container">
                <ul>
                    <li><a href="{{ url_for('instructor_index') }}">Home</a></li>
                    <li><a href="{{ url_for('instructor_courseteam') }}">Course Team</a></li>
                    <li><a href="/static/random.pdf">Syllabus</a></li>
                    <li><a href="{{ url_for('instructor_calendar') }}">Calendar</a></li>
                    <li><a href="https://piazza.com/class/jr7mjhytaij3jc">Piazza</a></li>
                    <li><a href="{{ url_for('instructor_anonfeedback') }}">Anonfeedback</a></li>
                    <li><a href="{{ url_for('instructor_Slides') }}">Lecture Slides</a></li>
                    <li><a href="{{ url_for('instructor_assignment') }}">Assignments</a></li>
                    <li><a href="{{ url_for('instructor_lab') }}">Labs</a></li>
                    <li><a href="{{ url_for('instructor_test') }}">Tests</a></li>
                    <li><a href="{{ url_for('instructor_mark') }}">marks</a></li>
                    <li><a href="{{ url_for('instructor_remark') }}">Remark</a></li>
                </ul>
            </div>
        </nav>

        <h1>Check students' remark requests</h1>
        <div class="list">
            {% if requests != None %}
                {% for request in requests %}   
                    {{request.username}}
                    {{request.subject}}
                    {{request.reason}}
                {% endfor %}
            {% endif %}
        </div>

        <h1>Enter remarks</h1>

        <form class="my-form" action="/instructor_remark" method="POST" onsubmit="return instructor_remark();">
            <div class ="form">
                <textarea class="form-element" cols = "30" rows = "5" placeholder="student name" name="remark_student" id="student"required></textarea>
                <textarea class="form-element" cols = "30" rows = "5" placeholder="remark subject" name="remark_subject" id="subject"required></textarea>
                <textarea class="form-element" cols = "30" rows = "5" placeholder="new grade" name="remark_grade" id="grade"required></textarea>
            </div>
            <input class="button" type="submit" value="Submit" name="fname">
        </form>
        
    </body>

    <footer>
            Copyright&copy <a href="http://web.cs.toronto.edu/people/faculty.htm">facult of computer science at uoft</a>; 2020, Assignments, Yiqian Wu & Yuntian Bo
    </footer>
    </html>