<!DOCTYPE html>
<html>
    <head>
        <title>Lecture Slides</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='student_Slides.css')}}">
    </head>
    <body>
        <nav id="navbar">
            <div class="container">
                <ul>
                    <li><a href="{{ url_for('student_index') }}">Home</a></li>
                    <li><a href="{{ url_for('student_courseteam') }}">Course Team</a></li>
                    <li><a href="/static/random.pdf">Syllabus</a></li>
                    <li><a href="{{ url_for('student_calendar') }}">Calendar</a></li>
                    <li><a href="https://piazza.com/class/jr7mjhytaij3jc">Piazza</a></li>
                    <li><a href="{{ url_for('student_anonfeedback') }}">Anonfeedback</a></li>
                    <li><a href="{{ url_for('student_Slides') }}">Lecture Slides</a></li>
                    <li><a href="{{ url_for('student_assignment') }}">Assignments</a></li>
                    <li><a href="{{ url_for('student_lab') }}">Labs</a></li>
                    <li><a href="{{ url_for('student_test') }}">Evaluations</a></li>
                    <li><a href="{{ url_for('student_mark') }}">Marks</a></li>
                    <li><a href="{{ url_for('student_remark') }}">Remark</a></li>
                    <li><a href="https://markus.teach.cs.toronto.edu/csc207-2019-09/?locale=en">MarkUs</a></li>
                </ul>
            </div>
        </nav>
        <h1>Lecture Slides</h1>
             <div class="box">
                    <h2>Week 1</h2>
                    <p>
                        <a class="pdfs" href="/static/random.pdf">First Week Introduction</a>
                    </p>
                    <p>
                        Introduction to Database
                    </p>
                </div>
                
                <div class="box">
                    <h2>Week 2</h2>
                    <p>
                        <a class="pdfs" href="/static/random.pdf">Second Week Introduction</a>
                    </p>
                    <p>
                        Introduction to SQL
                    </p>
                </div>
                
                <div class="box">
                    <h2>Week 3</h2>
                    <p>
                        <a class="pdfs" href="/static/random.pdf">Third Week Introduction</a>
                    </p>
                    <p>
                        SQL Language
                    </p>
                </div>
                
                <div class="box">
                    <h2>Week 4</h2>
                    <p>
                        <a class="pdfs" href="/static/random.pdf">Fourth Week Introduction</a>
                    </p>
                    <p>
                        Relational Algebra
                    </p>
                </div>
                
                <div class="box">
                    <h2>Week 5</h2>
                    <p>
                        <a class="pdfs" href="/static/random.pdf">Fifth Week Introduction</a>
                    </p>
                    <p>
                        Schemas
                    </p>
                </div>
                
                <div class="box">
                    <h2>Week 6</h2>
                    <p>
                        <a class="pdfs" href="/static/random.pdf">Sixth Week Introduction</a>
                    </p>
                    <p>
                        Little Flask
                    </p>
                </div>
                <div class="box">
                    <h2>Week 7</h2>
                    <p>
                        <a class="pdfs" href="/static/random.pdf">Seventh Week Introduction</a>
                    </p>
                    <p>
                        Html and Css
                    </p>
                </div>
                <div class="box">
                    <h2>Week 8</h2>
                    <p>
                        <a class="pdfs" href="/static/random.pdf">Eighth Week Introduction</a>
                    </p>
                    <p>
                        Creating Table
                    </p>
                </div>
                <div class="box">
                    <h2>Week 9</h2>
                    <p>
                        <a class="pdfs" href="/static/random.pdf">Nineth Week Introduction</a>
                    </p>
                    <p>
                        Creating Form
                    </p>
                </div>
                <div class="box">
                    <h2>Week 10</h2>
                    <p>
                        <a class="pdfs" href="/static/random.pdf">Tenth Week Introduction</a>
                    </p>
                    <p>
                        JavaScript
                    </p>
                </div>
          
            <footer>
                <span>Copyright&copy 2020 Courseteam, Yiqian Wu & Yuntian Bo</span>
                <span><a class="ut-website" href="http://web.cs.toronto.edu/people/faculty.htm">faculty of computer science</a></span>
            </footer>

        </body>
</html>

