<!DOCTYPE html>
<html>
    <head>
        <title>Labs</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='instructor_lab.css')}}">
    </head>
    <body>
        <nav id="navbar">
            <div class="container">
                <ul>
                    <li><a href="{{ url_for('student_index') }}">Home</a></li>
                    <li><a href="{{ url_for('student_courseteam') }}">Course Team</a></li>
                    <li><a href="/static/random.pdf">Syllabus</a></li>
                    <li><a href="{{ url_for('student_calendar') }}">Calendar</a></li>
                    <li><a href="https://piazza.com/class/jr7mjhytaij3jc">Piazza</a></li>
                    <li><a href="{{ url_for('student_anonfeedback') }}">Anonfeedback</a></li>
                    <li><a href="{{ url_for('student_Slides') }}">Lecture Slides</a></li>
                    <li><a href="{{ url_for('student_assignment') }}">Assignments</a></li>
                    <li><a href="{{ url_for('student_lab') }}">Labs</a></li>
                    <li><a href="{{ url_for('student_test') }}">Evaluations</a></li>
                    <li><a href="{{ url_for('student_mark') }}">Marks</a></li>
                    <li><a href="{{ url_for('student_remark') }}">Remark</a></li>
                    <li><a href="https://markus.teach.cs.toronto.edu/csc207-2019-09/?locale=en">MarkUs</a></li>
                </ul>
            </div>
        </nav>

        <aside>
            <div class="container2"> 
                <h1>Labs</h1>
                <h2>Practise makes perfect!</h2>      
                <div class="grid-container">    
                    <div class="grid-item">
                        <h3>Week 1</h3>
                        <p>
                            <span>First Week Practise</span>
                        </p>
                        <p>
                            <a href="/static/random.pdf">Lab 1</a>
                        </p>
                        <p>
                            <a href="/static/random.pdf">soluton for Lab 1</a>
                        </p>
                    </div>
                    <br>
                    <div class="grid-item">
                        <h3>Week 2</h3>
                        <p>
                            <span>Relational Algebra</span>
                        </p>
                        <p>
                            <a href="/static/random.pdf">Lab 2</a>
                        </p>
                        <p>
                            <a href="/static/random.pdf"> soluton for Lab 2</a>
                        </p>
                    </div>
                    <br>
                    <div class="grid-item">
                        <h3>Week 3</h3>
                        <p>
                            <span>Wrapping up Relational Algebra</span>
                        </p>
                        <p>
                            <a href="/static/random.pdf">Lab 3</a>
                        </p>
                        <p>
                            <a href="/static/random.pdf"> soluton for Lab 3</a>
                        </p>
                    </div>
                    <br>
                    <div class="grid-item">
                        <h3>Week 4</h3>
                        <p>
                            <span>SQL queries</span>
                        </p>
                        <p>
                            <a href="/static/random.pdf">Lab 4</a>
                        </p>
                        <p>
                            <a href="/static/random.pdf"> soluton for Lab 4</a>
                        </p>
                    </div>
                    <br>
                    <div class="grid-item">
                        <h3>Week 5</h3>
                        <p>
                            <span>Web development</span>
                        </p>
                        <p>
                            <a href="/static/random.pdf">Lab 5</a>
                        </p>
                        <p>
                            <a href="/static/random.pdf">soluton for Lab 5</a>
                        </p>
                    </div>
                    <br>
                    <div class="grid-item">
                        <h3>Week 6</h3>
                        <p>
                            <span>Flask</span>
                        </p>
                        <p>
                            <a href="/static/random.pdf">Lab 6</a>
                        </p>
                        <p>
                            <a href="/static/random.pdf"> soluton for Lab 6</a>
                        </p>
                    </div>
                    <br>
                    <div class="grid-item">
                        <h3>Week 7</h3>
                        <p>
                            <span>HTML & CSS</span>
                        </p>
                        <p>
                            <a href="/static/random.pdf">Lab 7</a>
                        </p>
                        <p>
                            <a href="/static/random.pdf"> soluton for Lab 7</a>
                        </p>
                    </div>
                    <br>
                    <div class="grid-item">
                        <h3>Week 8</h3>
                        <p>
                            <span>JavaScript</span>
                        </p>
                        <p>
                            <a href="/static/random.pdf">Lab 8</a>
                        </p>
                        <p>
                            <a href="/static/random.pdf"> soluton for Lab 8</a>
                        </p>
                    </div>
                    <br>
                    <div class="grid-item">
                        <h3>Week 9</h3>
                        <p>
                            <span>Tic Toc</span>
                        </p>
                        <p>
                            <a href="/static/random.pdf">Lab 9</a>
                        </p>
                        <p>
                            <a href="/static/random.pdf"> soluton for Lab 9</a>
                        </p>
                    </div>
                </div>
            </div>
                
                
        <footer>
            <span>
                Copyright&copy 2020 , Yiqian Wu & Yuntian Bo <a class="ut-website" href="http://web.cs.toronto.edu/people/faculty.htm">faculty of computer science</a>
            </span>
              
        </footer>
    </body>
</html>