*{
    font-family: helvetica neue;
    font-weight: lighter;
    text-align: center;
    letter-spacing: 0.08em;
}

body{
    background-color:rgb(203, 152, 207);
    margin:auto;
}

.container{
	width:100%;
	margin:auto;
    overflow:hidden;
    margin-top: 0px;
}

#navbar{
    background-color:rgb(117, 83, 172);
}

#navbar ul{
	padding:0;
    list-style: none;
    text-align: center;
}

#navbar li{
	display:inline;
	line-height: 80px;
}

#navbar a{
	color: #f3f1ed;
	text-decoration: none;
	font-size:18px;
	padding-right:15px;
}

a {
    text-decoration: none;
    color: #F0EDE5;
}

h2{
    font-weight: normal;
    font-size: 45px;
    padding-top: 30px;
	color:#fff;
}

.form-element{
    font-size:16px;
    border-radius:5px;
    border:0;
    padding:7px 12px 7px 12px;
    margin:10px 0 10px 0;
    width: 65%;
    box-sizing:border-box;
}

.btn{
    text-align:center;
    font-size:14px;
    border-radius:5px;
    color:white;
    border:none;
    cursor:pointer;
    background-color:rgb(170, 45, 170);
    padding:10px 16px;
}

.btn:hover{
    background-color:rgb(121, 28, 28);
}

.btn-group{
    text-align: center;
}

footer {
    color:#fff;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow: hidden;
}
