body{
    background-color:rgb(203, 152, 207);
    line-height:1.6em;
    margin:0;
}

.container{
	width:80%;
	margin:auto;
    overflow:hidden;
    margin-top: 0px;
}

#navbar{
    background-color:rgb(117, 83, 172);
}

#navbar ul{
	padding:0;
    list-style: none;
    text-align: center;
}

#navbar li{
	display:inline;
	line-height: 80px;
}

#navbar a{
	color: #f3f1ed;
	text-decoration: none;
	font-size:18px;
	padding-right:15px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-row-gap: 50px;
    padding-top: 15px;
    text-align:center;
}

a{
    text-align:center;
    text-decoration: none;
    color:white;
}

a:hover{
    color:rgb(165, 42, 149);
}

a:visited{
    color:#8f7bb3;
}

h2{
    font-size:60px;
    color:white;
    text-align: center;
}

.grid-item a {
    font-style:italic;
    font-size:18px;
    color:#5d66bd;
}

.grid-item h3{
    font-size:45px;
    font-weight: lighter;
    font-style:italic;
    color:white;
    text-align: center;
}

.grid-item span{
    font-size:18px;
    font-style:italic;
    color:#db6110;
    text-align:center;
    display: block;
    letter-spacing: 0.08em;
}


footer {
    color:white;
    position: absolute;
    text-align: center;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
}