<!DOCTYPE html>
<html>
    <head>
        <title>Courseteam</title>
        <link rel="stylesheet" href="{{ url_for('static',filename='instructor_courseteam.css')}}">
    </head>

    <body>
         <nav id="navbar">
            <div class="container">
                <ul>
                    <li><a href="{{ url_for('instructor_index') }}">Home</a></li>
                    <li><a href="{{ url_for('instructor_courseteam') }}">Course Team</a></li>
                    <li><a href="/static/random.pdf">Syllabus</a></li>
                    <li><a href="{{ url_for('instructor_calendar') }}">Calendar</a></li>
                    <li><a href="https://piazza.com/class/jr7mjhytaij3jc">Piazza</a></li>
                    <li><a href="{{ url_for('instructor_anonfeedback') }}">Anonfeedback</a></li>
                    <li><a href="{{ url_for('instructor_Slides') }}">Lecture Slides</a></li>
                    <li><a href="{{ url_for('instructor_assignment') }}">Assignments</a></li>
                    <li><a href="{{ url_for('instructor_lab') }}">Labs</a></li>
                    <li><a href="{{ url_for('instructor_test') }}">Tests</a></li>
                    <li><a href="{{ url_for('instructor_mark') }}">marks</a></li>
                    <li><a href="{{ url_for('instructor_remark') }}">Remark</a></li>
                </ul>
            </div>
        </nav>
        <aside>
        <h1>CourseTeam Informations</h1>
        <br>
        
        <div class="box">
            <h2>Course Instructor</h2>
            <h4>Instructor Name: Abbas</h4>
            <h4>Lecture:  Mondays 9 am to 11 am in SY 110</h4>
            <h4>Email:  MYFIRSYNAME.MYLASTNAME@utoronto.ca</h4>
        </div>

        <div class="box">
            <h2>Course TA</h2>
            <h4>Name: TA1</h4>
            <h4>Email: ta1@utoronto.ca</h4>
            <h4>office hour:</h4>
            <h4>Mon 1pm-2pm IC416</h4>
            <h4>Fri 3pm-4pm IC416</h4>
        
        </div>
        
        <br>
        
        <div class="footer-box">
            <footer>
                <span>Copyright&copy 2020 Courseteam, Yiqian Wu & Yuntian Bo</span>
                <span><a class="ut-website"href="http://web.cs.toronto.edu/people/faculty.htm">faculty of computer science</a></span>
            </footer>
        </div>
    
    </body>
</html>