<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{url_for('static',filename='login.css')}}" />
        <script>
            function login() {
    
                var username = document.getElementById("username");
                var password = document.getElementById("password");

                if (username.value == null || username.value == "") {

                    alert("Require username");
                
                } else if (password.value == null || password.value  == "") {

                    alert("Require password");

                } else {

                    alert("You succeed！");

                }
            }
        </script>
    </head>
    <body>
        <h1>Welcome to CSCB20!</h1>

        <!-- login form -->
        <div id="login_frame">
            {% block body %}
            {% if session['logged_in'] %}

            Successfully logged in!

            {% else %}

            <form action="/login" method="POST" onsubmit="return login();">
                <label>username：<input type="text" class="text_field" value="" placeholder="username" name="username" id="username"required></label><br>
                <label>password：<input type="password" class="text_field" value="" placeholder="password" name="password" id="password"required></label><br>
                <input type="submit" id="btn_login" value="Login">
                <a href="{{url_for('register')}}">New user</a>
            </form>
            {% endif %}
            {% endblock  %}
            <!-- <a href="{{url_for('register')}}">New user</a> -->
        </div>
        <footer>
            <span>Copyright&copy 2020 , Yiqian Wu & Yuntian Bo</span>
            <span><a class="ut-website" href="http://web.cs.toronto.edu/people/faculty.htm">faculty of computer science</a></span>
        </footer>
    </body>
</html>