<!DOCTYPE html>
<html>
    <head>
        <title>Assignment</title>
        <link rel="stylesheet" href="{{ url_for('static',filename='instructor_assignment.css')}}">
    </head>
    <body>
        <nav id="navbar">
            <div class="container">
                <ul>
                    <li><a href="{{ url_for('student_index') }}">Home</a></li>
                    <li><a href="{{ url_for('student_courseteam') }}">Course Team</a></li>
                    <li><a href="/static/random.pdf">Syllabus</a></li>
                    <li><a href="{{ url_for('student_calendar') }}">Calendar</a></li>
                    <li><a href="https://piazza.com/class/jr7mjhytaij3jc">Piazza</a></li>
                    <li><a href="{{ url_for('student_anonfeedback') }}">Anonfeedback</a></li>
                    <li><a href="{{ url_for('student_Slides') }}">Lecture Slides</a></li>
                    <li><a href="{{ url_for('student_assignment') }}">Assignments</a></li>
                    <li><a href="{{ url_for('student_lab') }}">Labs</a></li>
                    <li><a href="{{ url_for('student_test') }}">Evaluations</a></li>
                    <li><a href="{{ url_for('student_mark') }}">Marks</a></li>
                    <li><a href="{{ url_for('student_remark') }}">Remark</a></li>
                    <li><a href="https://markus.teach.cs.toronto.edu/csc207-2019-09/?locale=en">MarkUs</a></li>
                </ul>
            </div>
        </nav>

        <aside>
            <div class="container">   
                <h1>Assignments</h1>
            
                <div class="box">
                    <ul>
                        <li><a href="/static/random.pdf">Assignment 1</a></li>
                        <li>Topic:Relational Algebra</li>
                        <li>Due Date:7rd February @11:59pm</li>
                        <li><a href="/static/random.pdf">Solutions</a></li>
                    </ul>
                </div>
                <div class="box">
                    <ul>
                        <li><a href="/static/random.pdf">Assignment 2</a></li>
                        <li>Topic:HTML</li>
                        <li>Due Date:15rd March @11:59pm</li>
                    </ul>
                </div>

                <div class="box">
                    <ul>
                        <li><a href="/static/random.pdf">Assignment 3</a></li>
                        <li>Pending</li>
                    </ul>
                </div>

                <h2><a href="https://markus.teach.cs.toronto.edu/csc207-2019-09/?locale=en">Click here to upload Your Assignment</a>
            </div>
        
        </aside>

        <footer>
                Copyright&copy <a href="http://web.cs.toronto.edu/people/faculty.htm">facult of computer science at uoft</a>; 2020, Assignments, Yiqian Wu & Yuntian Bo
        </footer>
    </body>
</html>
