<!DOCTYPE html>
<html>
    <head>
        <title>Marks</title>
        <link rel="stylesheet" href="{{ url_for('static',filename='instructor_remark.css')}}">
        <script>
            function student_remark() {
        
                var remark_subject = document.getElementById("remark_subject");
                var remark_request = document.getElementById("remark_request");

                if (remark_subject.value == null || remark_subject.value == "") {

                    alert("Require remark subject");

                } else if (remark_request.value == null || remark_request.value  == "") {

                    alert("Require remark request");

                } else {

                    alert("Cannot be empty")

                }
                }
        </script>
    </head>

    <body>
         <nav id="navbar">
            <div class="container">
                <ul>
                    <li><a href="{{ url_for('student_index') }}">Home</a></li>
                    <li><a href="{{ url_for('student_courseteam') }}">Course Team</a></li>
                    <li><a href="/static/random.pdf">Syllabus</a></li>
                    <li><a href="{{ url_for('student_calendar') }}">Calendar</a></li>
                    <li><a href="https://piazza.com/class/jr7mjhytaij3jc">Piazza</a></li>
                    <li><a href="{{ url_for('student_anonfeedback') }}">Anonfeedback</a></li>
                    <li><a href="{{ url_for('student_Slides') }}">Lecture Slides</a></li>
                    <li><a href="{{ url_for('student_assignment') }}">Assignments</a></li>
                    <li><a href="{{ url_for('student_lab') }}">Labs</a></li>
                    <li><a href="{{ url_for('student_test') }}">Evaluations</a></li>
                    <li><a href="{{ url_for('student_mark') }}">Marks</a></li>
                    <li><a href="{{ url_for('student_remark') }}">Remark</a></li>
                    <li><a href="https://markus.teach.cs.toronto.edu/csc207-2019-09/?locale=en">MarkUs</a></li>
                </ul>
            </div>
        </nav>

        <h2>Give Your Remark Request</h2>

        <form class="my-form" action="/student_remark" method="POST" onsubmit="return student_remark();">
            <div class ="form">
                <p><input type="text" value="" placeholder="which grade you want to remark?" name="remark_subject" id="remark_subject"required>
                
                </p>
                <h3>Leave Your Remark Request</h3>
                <textarea type="text" name="remark_request" id="remark_request"required></textarea>
            </div>
            <input class="button" type="submit" value="Submit" name="fname">
        </form>

        
    </body>

    <footer>
            Copyright&copy <a href="http://web.cs.toronto.edu/people/faculty.htm">facult of computer science at uoft</a>; 2020, Assignments, Yiqian Wu & Yuntian Bo
    </footer>
</html>