<!DOCTYPE html>
<html>
    <head>
        <title>Tests</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='student_test.css')}}">
    </head>

    <body>
         <nav id="navbar">
            <div class="container">
                <ul>
                    <li><a href="{{ url_for('student_index') }}">Home</a></li>
                    <li><a href="{{ url_for('student_courseteam') }}">Course Team</a></li>
                    <li><a href="/static/random.pdf">Syllabus</a></li>
                    <li><a href="{{ url_for('student_calendar') }}">Calendar</a></li>
                    <li><a href="https://piazza.com/class/jr7mjhytaij3jc">Piazza</a></li>
                    <li><a href="{{ url_for('student_anonfeedback') }}">Anonfeedback</a></li>
                    <li><a href="{{ url_for('student_Slides') }}">Lecture Slides</a></li>
                    <li><a href="{{ url_for('student_assignment') }}">Assignments</a></li>
                    <li><a href="{{ url_for('student_lab') }}">Labs</a></li>
                    <li><a href="{{ url_for('student_test') }}">Evaluations</a></li>
                    <li><a href="{{ url_for('student_mark') }}">Marks</a></li>
                    <li><a href="{{ url_for('student_remark') }}">Remark</a></li>
                    <li><a href="https://markus.teach.cs.toronto.edu/csc207-2019-09/?locale=en">MarkUs</a></li>
                </ul>
            </div>
        </nav>
        <aside>
            <h2>Tests</h2>
            <div class="grid-container">    
                <div class="grid-item">
                    <h3>Midterm</h3>
                    <p>
                        <span><a href="/static/random.pdf">Exam reminding</a></span>
                        <span>Time:1rd February @9:00 am; 2 hours test</span>
                        <span>average mark:65</span>
                    </p>
                    <h4><a href="/static/random.pdf">Past Midterm</a></h4>
                </div>

                <div class="grid-item">
                    <h3>Final</h3>
                    <p>
                        <span><a href="/static/random.pdf">Exam reminding</a></span>
                        <span>Time:24rd April @11:59pm</span>
                        <span>average mark:pending</span>
                    </p>
                    <h4><a href="/static/random.pdf">Past Final</a></h4>
                </div>
            </div>
        </aside>
            
        <footer>
                Copyright&copy <a href="http://web.cs.toronto.edu/people/faculty.htm">facult of computer science at uoft</a>; 2020, Assignments, Yiqian Wu & Yuntian Bo
        </footer>
    </body>
</html>