body{
    background-color:rgb(203, 152, 207);

    font-family: Arial, Helvetica, sans-serif;
    font-size:16px;
    font-weight:normal;
    
    line-height:1.6em;
    margin:0;
}

.container{
	width:80%;
	margin:auto;
    overflow:hidden;
    margin-top: 0px;
}

#navbar{
    background-color:rgb(117, 83, 172);
}

#navbar ul{
	padding:0;
    list-style: none;
    text-align: center;
}

#navbar li{
	display:inline;
	line-height: 80px;
}

#navbar a{
	color: #f3f1ed;
	text-decoration: none;
	font-size:18px;
	padding-right:15px;
}

a{
    text-decoration: none;
    color:white;
}

a:hover{
    color:#a773d8;
}

a:visited{
    color:#8f7bb3;
}


h1{
    text-align:center;
    color:rgb(243, 232, 243);
    font-size: 55px;
}

h2{
    text-align:center;
    color:rgb(243, 232, 243);
    font-weight:lighter;
    font-style:italic;
    font-size: 35px;
}

.container2{
	width:80%;
	margin:auto;
    overflow:hidden;
    margin-top: 0px;
}

.grid-container{
    background-color:rgb(208, 187, 241);
    display: grid;
    grid-template-columns: auto auto auto auto  auto auto;
    grid-row-gap: 50px;
    border:3px  blanchedalmond solid;
    padding:20px;
    padding-top: 15px;
    text-align:center;
    margin:20px 0;
}

.grid-item h3 {
    color:rgb(115, 58, 206);
    font-size: 38px;
    font-weight: lighter;
    align-content: center;
    text-align:center;
}

.grid-item p {
    color:white;
    font-size: 16px;
    align-content: center;
    text-align:center;
}

.grid-item a {text-align:center; font-size:20px; color:#e0e3fd; }

.grid-item span{
    text-align:center;
    letter-spacing: 0.08em;
}

footer {
	color: rgb(226, 222, 233);
    position: relative;
    left: 0;
    bottom: 0;
    height: 100px;
	width: 100%;
	text-align: center;
}